<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Archive Website</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--注意jqery所放置的位置 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<div class="container page-header">
    <h1>Archive Website
    <small>Here is an open-access archive</small>
    </h1>


</div>>
<div class="container page-body">
    <div class="body-main">

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">文档标题</span>
            <input type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">文档作者</span>
            <input type="text" class="form-control" placeholder="Author" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">摘要</span>
            <input type="text" class="form-control" placeholder="Abstract" aria-describedby="basic-addon1">
        </div>
        <p>注意：文档标题需要和所上传文件的标题相同</p>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                选择文章所属分类
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="dropdown-header">Renewable Energy</li>
                <li><a href="#">Biomass resources and biofuel production</a></li>
                <li><a href="#">Bioenergy Utilization</a></li>
                <li><a href="#">Solar Energy</a></li>
                <li><a href="#">Wind Energy</a></li>
                <li><a href="#">Geothermal Energy</a></li>
                <li><a href="#">Tidal Energy</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Clean Energy Conversion Technologies</li>
                <li><a href="#">Steam/Vapor Power Generation</a></li>
                <li><a href="#">Gas Turbines Power Generation</a></li>
                <li><a href="#">Reciprocating Engines</a></li>
                <li><a href="#">Fuel Cells</a></li>
                <li><a href="#">Cogeneration and Polygeneration</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Mitigation Technologies</li>
                <li><a href="#">Carbon Capture</a></li>
                <li><a href="#">Negative Emissions System</a></li>
                <li><a href="#">Carbon Transportation</a></li>
                <li><a href="#">Carbon Storage</a></li>
                <li><a href="#">Emission Mitigation Technologies</a></li>
                <li><a href="#">Efficiency Improvements and Waste Management</a></li>
                <li><a href="#">Waste to Energy</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Intelligent Energy Systems</li>
                <li><a href="#">Future Electricity Markets</a></li>
                <li><a href="#">Diagnostic and Control of Energy Systems</a></li>
                <li><a href="#">New Electric Transmission Systems</a></li>
                <li><a href="#">Smart Grid and Modern Electrical Systems</a></li>
                <li><a href="#">Energy Efficiency of Municipal Energy Systems</a></li>
                <li><a href="#">Energy Efficiency of Industrial Energy Systems</a></li>
                <li><a href="#">Consumer Behaviors</a></li>
                <li><a href="#">Load Control and Management</a></li>
                <li><a href="#">Electric Car and Hybrid Car</a></li>
                <li><a href="#">Energy Efficiency Improvement</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Energy Storage</li>
                <li><a href="#">Thermal Energy Storage</a></li>
                <li><a href="#">Chemical Storage</a></li>
                <li><a href="#">Mechanical Storage</a></li>
                <li><a href="#">Electrochemical Storage</a></li>
                <li><a href="#">Integrated Storage Systems</a></li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Sustainability of Energy Systems</li>
                <li><a href="#">Sustainability Indicators, Evaluation Criteria, and Reporting</a></li>
                <li><a href="#">Regulation and Policy</a></li>
                <li><a href="#">Finance and Investment</a></li>
                <li><a href="#">Emission Trading</a></li>
                <li><a href="#">Modeling and Analysis of Energy Systems</a></li>
                <li><a href="#">Energy vs. Development</a></li>
                <li><a href="#">Low Carbon Economy</a></li>
                <li><a href="#">Energy Efficiencies and Emission Reduction</a></li>

            </ul>
        </div>

        <form enctype="multipart/form-data" action="uploadFile/" method="post">
            {% csrf_token %}
            <input type="file" name="myfile"/>
            <br/>
            <center><input type="submit" value="上传&提交"/></center>
        </form>

        <script>
            $(function () {
                $(".dropdown-menu").on('click', 'li a', function () {
                    $(".btn:first-child").text($(this).text());
                    $(".btn:first-child").val($(this).text());
                });
            });
        </script>


    </div>
    <center>
        <br>
        <img style="width: 20px; height: 20px;" src="http://www.beian.gov.cn/img/ghs.png" alt="备案标识" /><a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow noopener noreferrer">陕公网安备</a>
        <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow noopener noreferrer">陕ICP备16015513号</a>
    </center>
</div>
</body>
</html>